/* Tab styles */
@media screen and (max-width: 768px) {
    #smarty-cpb-tabs-container {
        display: none;
    }
}

.smarty-cpb-nav-tab-wrapper, .wrap h2.smarty-cpb-nav-tab-wrapper, h1.smarty-cpb-nav-tab-wrapper {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 20px;
  }

.smarty-cpb-nav-tab {
    display: inline-block;
    padding: 10px 20px;
    color: #0073aa;
    text-decoration: none;
    border: 1px solid #dddddd;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    background: #f1f1f1;
    margin-right: 5px;
}

.smarty-cpb-nav-tab-active {
    background: #f9f9f9;
    border-bottom: none;
}

.smarty-cpb-nav-tab:focus,
.smarty-cpb-nav-tab-active:focus {
    color: #135e96;
    outline: none;
}

.smarty-cpb-nav-tab:focus {
    outline: none;
    box-shadow: 0 0 3px #0073aa;
}

.smarty-cpb-tab-content {
    display: none;
}

.smarty-cpb-tab-content.active {
    display: block;
}

#smarty-cpb-settings-container {
    display: flex; 
    gap: 20px; 
    margin-top: 20px;
}

#smarty-cpb-settings-container > div {
    flex: 1;
    min-width: 250px;
}

#smarty-cpb-tabs-container {
    background: #f9f9f9; 
    padding: 20px; 
    border: 1px solid #dddddd; 
    border-radius: 8px;
}

#smarty-cpb-tabs-container > div {
    flex: 1; 
}

.smarty-cpb-view-more-container {
    background: #F0F0F1;
    border: 1px dashed #ccc;
    border-radius: 5px;
    padding: 0 20px 20px;
}

#smarty-cpb-readme-content,
#smarty-cpb-readme-content p,
#smarty-cpb-changelog-content, 
#smarty-cpb-changelog-content p {
    font-size: 14px;
}

#smarty-cpb-readme-content pre,
#smarty-cpb-changelog-content pre {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    overflow-x: auto;
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word; /* Allows word-breaking on small screens */
}

#smarty-cpb-readme-content h1, 
#smarty-cpb-readme-content h2, 
#smarty-cpb-readme-content h3,
#smarty-cpb-changelog-content h1, 
#smarty-cpb-changelog-content h2, 
#smarty-cpb-changelog-content h3 {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

#smarty-cpb-readme-content ul, 
#smarty-cpb-readme-content ol,
#smarty-cpb-changelog-content ul,
#smarty-cpb-changelog-content ol {
    margin: 15px 0;
    padding-left: 30px;
    list-style: inherit;
}