#smarty-cpb {
    margin-bottom: 20px;
    background: rgba(223, 240, 216, .2);
    padding: 10px;
    font-weight: bold;
    border: 2px dashed var(--brdcolor-gray-300);
    border-radius: var(--wd-brd-radius);
}

#smarty-cpb .smarty-cpb-info-text {
    font-size: 16px; 
    font-weight: bold; 
    text-align: center; 
    margin-bottom: 10px;
}

#smarty-cpb .smarty-cpb-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

#smarty-cpb .smarty-cpb-progress-bar {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    position: relative;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}

#smarty-cpb .smarty-cpb-progress-bar-fill {
    height: 100%;
    background-color: #4caf50;
    width: 0;
    transition: width 0.3s ease-in-out;
}

#smarty-cpb .smarty-cpb-progress-bar-ticks {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#smarty-cpb .smarty-cpb-progress-bar-ticks .tick {
    text-align: center;
    font-size: 12px;
    color: #888;
    position: relative;
}

#smarty-cpb .smarty-cpb-progress-bar-ticks .tick.achieved i {
    color: #4caf50;
}

#smarty-cpb .smarty-cpb-progress-bar-ticks .tick i {
    font-size: 20px;
    margin-bottom: 5px;
    display: inline-block;
}

#smarty-cpb .smarty-cpb-progress-bar-ticks .tick span {
    display: block;
}
